* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    
    padding: 10px;
    background: #5d5d5d;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.div1 h1{
font-size: 60px;
color: #efecec;
}
.div1 h3{
    color: #fff;
    text-align: center;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0 0 30px #f6f4f4;
}

h2 {
    color: #002765;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove #000;
    outline-offset: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #f6a9a9;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
}

input::placeholder {
    color: #230c75;
}

button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #3e0e4b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px; 
}

ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 500;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url('img1.png');
    background-size: cover;
    top: 12px;
    left: 8px;
}

ul li.checked {
    background: #63e074;
    color: #171616;
    border-radius: 50px;
}

ul li.checked::before {
    background: url('img1.png');
    background-size: cover;
}

ul li span, ul li .edit-button {
    position: absolute;
    top: 10px;
    margin-right: 5px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
}

ul li .edit-button {
    padding: 0;
    right: 110px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    color: #000;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px;
}
span{
    color: #000;
    right: 10px;
}